.Header {
    background-color: var(--background);
    border-bottom: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
}

 .icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 180px;
    cursor: pointer;
    
}

.img-user
{
    border-radius: 50px ;
    width: 26px;
    height: 26px;
}
